html, body, .container, .row, .col-xs-12{
  height: 100%
}
body{
  background-color: #38ada9;
}
h1{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  font-size: 50px;
  color: white;
}
