<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
          <h1>deploy 2</h1>
      </div>
    </div>
  </div>
</body>
</html>
